@media print {
  #module_name {
    display: inline !important;
  }
  .nav-link {
    text-decoration: none !important;
  }
  div {
    border: 1px solid #fff !important;
    border-radius: 0;
  }
  input {
    border: 1px solid #fff !important;
    color: #000;
    border-radius: 0;
  }
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
  }
  i,
  .formio-component-dataImportPanel,
  .help-button-wrapper,
  label:has(input[type="radio"]:not(:checked)),
  input[type="radio"]:checked,
  button[name="data[showMore]"],
  button[name="data[downloadReportTransitions]"],
  button[name="data[downloadReport]"],
  button[name="data[calculateJoParameters]"],
  button[name="data[calculateCombinationsButton]"],
  button[name="data[calculateTransitionsButton]"],
  a[class="nav-link"] {
    display: none !important;
  }
  .card-body {
    padding: 0;
  }
  .pagebreak {
    clear: both;
    page-break-before: always;
  }
  .pagebreak-margin {
    height: 4rem;
  }
  .styled-table thead tr th {
    padding-top: 100px;
    vertical-align: bottom;
  }
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000 !important;
  }
  .apexcharts-title-text,
  .apexcharts-toolbar {
    display: none !important;
  }
  #chart1,
  #chart4 {
    margin-left: -110px !important;
  }
  body {
    margin: 0px;
  }
  @page {
    size: letter;
    margin: 0mm 0mm 0mm 0mm;
  }
}
#overlay-progress-bar {
  position: fixed; 
  bottom: 0px; 
  left: 0; 
  width: 100%; 
  height: 20px; 
  background-color: #007bff;
  display: none;
  z-index: 999;
}

.help-button-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
}
.help-button {
  height: 60px;
  width: 60px;
  font-family: "Gotham A", "Gotham B";
  font-weight: 500;
  font-size: 14px;
  border-radius: 50%;
  border: 0 none;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: all 200ms ease;
}
.help-button:hover,
.help-button:focus,
.help-button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}
.help-button span {
  display: block;
  font-size: 2em;
  transform: scale(1);
  transition: transform 100ms ease;
}
.help-button:hover span,
.expanded .help-button span,
.expanded .help-button span {
  transform: scale(1.25);
}
.expanded .help-button {
  transform: scale(0.5);
  color: rgba(255, 255, 255, 0.5);
  background: #007bff;
}
.help-list {
  font-family: "Gotham A", "Gotham B";
  list-style: none;
  padding: 0;
  margin: 20px;
  transition: all 200ms ease;
  transform: translate(0, 90px) scale(0.5);
  transform-origin: bottom center;
  opacity: 0;
  display: block;
  padding: 20px 20px 5px 20px;
  background-color: #007bff;
}
.expanded .help-list {
  transform: translate(0px, 20px) scale(1);
  opacity: 1;
}
.help-list li {
  margin-bottom: 1em;
}
.help-list a {
  color: #fff;
  text-decoration: none;
}
.help-list a:hover {
  color: #fff;
  text-decoration: underline;
}
#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#chart6 {
  float: left;
  width: 33.33%;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #007bff;
}
.tabs-re-selector > .card {
  border: 0;
}
.tabs-re-selector > .card > .card-body {
  margin: 0;
  padding: 0;
}
.re-edit-field > .card {
  background-color: #fff !important;
  border: none;
}
.formio-component-datagrid .datagrid-table,
.formio-component-datagrid .datagrid-table td,
.formio-component-datagrid .datagrid-table th {
  border: 0px solid #ddd !important;
  padding: 10px;
}
.form-check-label i,
.showless .transitionDataGrid tr:nth-child(n + 10),
#module_name {
  display: none;
}
#overlayloading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white url(../img/loading.gif) no-repeat center;
  z-index: 999;
}
.transitionSelectInput {
  width: 100px;
}
.transitionSelectInput select {
  border: 0px solid #ddd !important;
  background-color: white;
  color: black;
}
.transitionSelectInput select:disabled {
  border: 0px solid #ddd !important;
  background-color: white;
  color: black;
  text-indent: 0;
  padding-left: 0;
}
.checkboxInclude {
  margin-top: 0.6em;
}
.formio-component-downloadTemplateDataButton2,
.formio-component-downloadTemplateDataButton,
.formio-component-htmlspan1,
.formio-component-htmlspan2 {
  display: inline-block !important;
}
